<!--Loading the CSS files-->

{% load static %}


<!--Now if you want to include Bootstrap-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!---This is how we include css files-->

<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>


<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!--logo-->

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">CloudMusic</a>
        </div>

    </div>
</nav>



{% if all_albums %}
    
    <h3>Here all my albums</h3>

    <ul>
        {% for album in all_albums %}


        <!--Removing Hardcorded Url-->
        <li><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>

        {% endfor %}




    </ul>
{% else %}
    <h3>You don't have any albums </h3>

{% endif %}