{% extends 'music/base.html' %}

{% block body %}
    {% if all_albums %}
        

        <ul>
            {% for album in all_albums %}

            <li style="float: left;" class="col-md-4">
                <a href="{% url 'music:detail' album.id %}" style="color: black;font-size: medium;">

                <div class="card" style="width: 18rem;" >
                    <img class="card-img-top" src="{{ album.album_logo }}" alt="Card image cap" height="300" width="300">
                    <div class="card-body">
                    <p class="card-text">{{album.album_title}}</p>
                    </div>
                </div>
            </li>


            {% endfor %}



        </ul>
        {% else %}
        <h3>You don't have any albums </h3>

    {% endif %}
{% endblock %}
